[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "../logs/local_gateway_sasl"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },
   
  {local_gateway, [
		{tcp_listener,[
						{port, 7799}, 
						{acceptor_num, 10},
						{max_connections, 100}
						]},
		{mysql_config, 	  [
						{host, "192.168.44.51"},
						{port, 3306}, 
						{user, "root"},
						{password, "root"},
						{db, "smxx"},
						{encode, utf8},
						{conns,10}
				  		]},
		{mysql_log_config, 	  [
						{host, "192.168.44.51"},
						{port, 3306}, 
						{user, "root"},
						{password, "root"},
						{db, "smxx_log"},
						{encode, utf8},
						{conns,10}
				  		]},
		{log_level, 6},							%% 日志输出级别类型
		{log_path, "../logs/local_gateway"},       %% 日志目录
		{http_ips, ["127.0.0.1","192.168.43.180"]},				%% HTTP协议的允许客户端IPs
		{game_server_node, 'game_server180@192.168.43.180'},		%%游戏服务器节点
		{charge_key,"eca82bbcf5d72bea32c5f97aadaf3b4"}			%%充值的key
		]
  }
].