[
{sasl, [
{sasl_error_logger, false},
{errlog_type, error},
{error_logger_mf_dir, "../logs/server_sasl"},     %% dirs
{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.
{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
]
},

{server, [
{tcp_listener_ip,[
{ip, "192.168.43.254"}
]},
{tcp_listener,[
{port, 7788},
{acceptor_num, 100},
{max_connections, 3000}
]},
{mysql_config, 	  [
{host, "127.0.0.1"},
{port, 3306},
{user, "root"},
{password, "yuanzhuti"},
{db, "smxx"},
{encode, utf8},
{conns,10}
]},
{mysql_log_config, 	  [
{host, "127.0.0.1"},
{port, 3306},
{user, "root"},
{password, "yuanzhuti"},
{db, "smxx_log"},
{encode, utf8},
{conns,10}
]},
{gateway_node, ['game_gateway@192.168.43.254']},	%% 网关节点
{server_num,254},							%% 服务器编号
{domain,1},									%% 服务器区号
{open_time,1308978661},						%% 开服时间
{db_log_path,"../dblogs/server/"},
{log_path, "../logs/server"},       		%% 日志目录
{log_level, 6},								%% 日志输出级别类型
{base_data_from_db, 1},						%% 基本数据实时读数据库？(1：是，使用ets; 0：否，来自生成的静态文件)
{scene_here, []},							%% all or [number] 开启加载在本节点场景(all--所有非副本节点; [100]--配置的节点)
{can_gmcmd, 1},								%% GM命令启用否 （1：开启; 0: 关闭）
{strict_md5, 0},							%% 是否需要严格验证 （1：验证; 0: 不验证）
{infant_ctrl, 0}							%% 防沉迷系统开关 （1：开启; 0: 关闭）
]
}
].